.table-wrap {
  .header {
    border-bottom: 1px dashed;
  }
}
.table-wrap > div.col-9,
.table-regular-nums {
  border-right: 1px dashed;
}
.matched {
  border: 1px solid red;
  width: 22px;
  display: inline-block;
}