<img src="../../../assets/images/double-lotto-logo.png"
     class="img-fluid"
     alt="דאבל לוטו">
<div class="row" dir="ltr">
    <div class="col-10 regular-nums"></div>
    <div class="col-2 strong-nums table-title cell-item text-center">
        <strong>חזק</strong>
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </div>
</div>
<!---->
<div class="row table-wrap" dir="ltr">
    <!-- regular numbers -->
    <div class="col-10 table-regular-nums">
        <div class="row">
            <div *ngFor="let value of regularNums; let ix = index">
                <br *ngIf="isNewLine_regular(ix)">
                <div *ngIf="ix === 0"
                     style="width:30%"
                     class="col-3 table-title cell-item text-center">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <strong>טבלה 1</strong>
                </div>
                <div class="col-1 cell-item">
                    <span class="title text-center">{{ix+1}}</span>
                    <span class="input text-center"
                          [class.selected]="value === 1"
                          (click)="cellClicked($event, ix, 'regular')">_</span>
                </div>
            </div>
        </div>
    </div>

    <!-- strong numbers -->
    <div class="col-2 table-strong-nums">
        <div class="row">
            <div *ngFor="let value of strongNums; let ix = index">
                <br *ngIf="isNewLine_stong(ix)">
                <div *ngIf="ix === 0" class="col-6 table-title cell-item text-center">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </div>
                <div class="col-6 cell-item">
                    <span class="title text-center">{{ix+1}}</span>
                    <span class="input text-center"
                          [class.selected]="value === 1"
                          (click)="cellClicked($event, ix, 'strong')">_</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<!---->
<div class="row controls-wrap mt-30">
    <div class="col-6 text-left">
        <button class="btn btn-outline-primary btn-generate"
                (click)="generateNumbers()">
            הגרל
        </button>
    </div>
    <div class="col-6 text-right">
        <!--<button class="btn btn-outline-primary btn-save"-->
        <!--(click)="modal.openModal(template)">-->
        <!--לך על זה-->
        <!--</button>-->
        <lotto-save-modal #modal></lotto-save-modal>
    </div>
</div>
<!---->
<div class="row mt-30">
    <div class="col text-right">
        <div class="alert alert-danger" dir="rtl" role="alert">
            <strong>הערה: </strong> שמירת המספרים תשמש אותך להשוות תוצאות הלוטו אחרונים מול מפעל הפייס.
        </div>
    </div>
</div>
<!---->