results {
  .main-header > h3{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .table-wrap{
    .header{
      border-bottom: 1px dashed;
    }
    .table-regular-nums{
      border-right: 1px dashed;
    }
  }
}