@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700&subset=hebrew');
@import "colors";

body{
  background-color: #fefadf;
  direction: rtl !important;
  font-family: 'Assistant', sans-serif;
}
.row{
  line-height: 24px;
}
.mb-5 {
  margin-bottom:5px !important;
}
.m-t-5{
  margin-top:5px !important;
}
.mt-15 {
  margin-top:15px !important;
}
.mt-30 {
  margin-top:30px !important;
}
.btn {
  border-radius: 0;
  min-width: 50%;
  &:not(:disabled) { cursor: pointer; }
  &:disabled { cursor: not-allowed; }
  &:focus { outline: none; }
}
.bt-dashed-2 {
  border-top: 2px dashed;
}
.bb-dashed-2 {
  border-bottom: 2px dashed;
}
*[dropdown] {
  position: relative;
  &.show ul.dropdown-menu {
    display: block;
  }
}